@font-face {
  font-family: "Kallisto";
  src: url("../Kallisto\ Thin.otf");
}
@font-face {
  font-family: "Light";
  src: url("../Kallisto\ Light.otf");
}
@font-face {
  font-family: "Medium";
  src: url("../Kallisto\ Medium.otf");
}

@font-face {
  font-family: "Heavy";
  src: url("../Kallisto\ Heavy.otf");
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
#ian-harris {
  font-family: "Medium";
  color: #b3bdc2 !important;
}
ul {
  color: white !important;
  font-family: "Kallisto" !important;
  width: 10%;
}
.container-about {
  height: 95vh;
  width: 100%;
  background-image: url("../img/part.gif");
  background-position: center center;
}

a {
  text-decoration: none !important;
  font-family: "Kallisto";
}
.container-nav {
  font-family: "Kallisto";
  /* display: flex; */
  flex-direction: column;
  width: 15%;
  height: auto;
  /* background: linear-gradient(#17181b, #464a4e) !important; */
}
.navbarSpread{
  display: none !important;
}
.active {
  /* border-bottom: 2px solid white; */
  /* line-height: .85; */
  font-family: "Heavy";
  font-weight: bolder;
}
#code {
  font-family: "Light" !important;
  height: 74%;
  display: flex;
  align-items: end;
  justify-content: center;
}
.container-rest {
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: center;
}
ul:hover {
    transform: translateY(-5px) scale(1.001);
  transition: 0.3s ease-in;
  cursor: pointer;
}
#loop {
  min-height: 100%;
  min-width: 100%;
}

a{
  text-decoration: none !important;
}
@media (max-width: 767px) {
  .container-about {
    height: 110vh;
  }
  #code {
    text-align: center;
    height: 67.5%;
  }
}

@media (max-width: 1365px) {
  #imh{
    height: 25px;
    width: 50px;
  }
  #container-nav{
      display: none !important;
      visibility: hidden !important;
  }

  .navbarSpread{
      display: contents !important;
    }
    .navbar-brand{
      /* margin-left: 50%; */
      padding: 0% 0% 0% 50%;
  }
     .navbar{
      padding: 15px;
    }
  
  .navbar {
      width: 100%;
      /* background-color: #ba9ef9; */
      overflow: auto;
    }
    
    /* Navigation links */
    .navbar a {
      /* float: left; */
      /* padding: 12px; */
      /* color: #8a72ff; */
      text-decoration: none !important;
      color: white;
      font-size: 17px;
      width: 20%; /* Four equal-width links with icon in the center. If you have two links, use 50%, and 33.33% for three links, etc.. */
      text-align: center; /*If you want the text to be centered*/
      /* background-color: ; */
        
      /* transition: all 1s ease-out; */
  
    }
    .navbar a.active {
      font-weight: 600;
    }
    
    
  }


  