@font-face {
    font-family: 'Kallisto';
    src: url("../Kallisto\ Thin.otf");
    
  }
  @font-face {
    font-family: "Medium";
    src: url("../Kallisto\ Medium.otf");
  }
.container-nav {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: auto;
    /* background: linear-gradient(#17181b, #464a4e) !important; */
    
  
  }
    h1{
        font-family: "Medium";
    }
    ul{
        font-family: "Kallisto";
    }
  .container-rest {
    width: 85%;

}
img{
    border: 5px solid #b3b3b3;
    border-radius: 15px;
}
.grid{
  background: linear-gradient(#1f2225 ) !important;
    width: 95% !important;
    height: 100%;
    gap: .1em;
    overflow-x: hidden !important;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.grid *{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
-webkit-transition: all .35s ease;
transition: all .35s ease;
}

#image img{
  border: 8px solid 	#fffff4;
  box-shadow: 0 0 5px 1px #555;
  border-radius: 5px;
}

#outmost-container #image-container img:hover{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

#outmost-container #image-container span{
  display: none;
  position: absolute;
  top: 250px;
  left: 500px;

}
#outmost-container #image-container:hover span{
display: block;
}
#outmost-container #image-container span input[type="button"]{
  width: 150px;
  height: 40px;
  background: red;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px #000;
  border: 2px solid #fff;
  color: #fff;
  font-size: px;
  cursor: pointer;
}
.item{
    background-color: green;
}
ul:hover{
    transform: scale(1.02) translateY(-3px);
    text-decoration: underline;
    transition: .2s ease-in;
    cursor: pointer;
}


body{
  min-height: 100vh;
  color: 	#fffff4!important;
  background-color: #1f2225 !important;
  /* #17181b,#464a4e */
  /* background: linear-gradient(#17181b, #464a4e) !important; */
  overflow-x: hidden;
}
ul:hover{
  
  transform: scale(1.05) translateY(-3px);
  transition: .3s ease-in;
  cursor: pointer;
  }
  a,ul{
    text-decoration: none !important;
    color: #fffff4;
  }
  
  .bar{
  
    width: 50px;
    height: 50px;
  }
  .bar1{
    width: 20px;
    height: 3px;
    background-color: white;
  }
  .bar2{
    width: 20px;
    height: 3px;
    background-color: white;
  }
  .bar3{
  
      width: 20px;
      height: 3px;
      color: white;
      background-color: white;
    
  }
  
  
  .container {
    background-color: #1f2225;
    
    
    font-family: 'Open Sans', sans-serif;
    
    font-size: 16px;
    
    margin: 10px;
    
    
    
    overflow: hidden;
    
  position: relative;
  
  text-align: center;
  
  width: 100%;
  
}



.container * {
  
  -webkit-box-sizing: border-box;
  
  box-sizing: border-box;
  
  -webkit-transition: all 0.35s ease;
  
  transition: all 0.35s ease;
  
}



.container h3 {
  
  background-color: #1f2225;
  
  border: 2px solid 	#fffff4;
  
  color: 	#fffff4;
  
  font-size: 1em;
  
  font-weight: 600;
  
  letter-spacing: 1px;
  
  margin: 0;
  
  padding: 5px 10px;
  
  text-transform: uppercase;
  
}
.container h4 {
  
  background-color: #1f2225;
  
  border-bottom: 2px solid 	#fffff4;
  
  color: 	#fffff4;
  
  border-radius:5px;
  box-shadow: #1f2225;
  font-weight: 600;
  
  letter-spacing: 6px;
  
  margin: 0;
  padding: 10px 10px;
  
  text-transform: uppercase;
  
}
h3:hover{
  cursor: pointer !important;
}



.container:before,

.container:after {
  
  position: absolute;
  
  top: 0;
  
  bottom: 0;
  
  left: 0;
  
  right: 0;
  
  -webkit-transition: all 0.35s ease;
  
  transition: all 0.35s ease;
  
  background-color: #1f2225;
  
  border-left: 5px solid 	#fffff4;
  
  border-right: 5px solid 	#fffff4;
  /* border-radius: 100px 0px 0px 50px; */
  
  content: '';
  
  opacity: .9;
  
  z-index: 1;
  
}



.container:before {
  
  -webkit-transform: skew(45deg) translateX(-155%);
  
  transform: skew(45deg) translateX(-155%);
  
}



.container:after {
  
  -webkit-transform: skew(45deg) translateX(155%);
  
  transform: skew(45deg) translateX(155%);
  
}



.container img {
  
  backface-visibility: hidden;
  
  max-width: 100%;
  
  vertical-align: top;
  
}



.container figcaption {
  
  top: 50%;
  
  left: 50%;
  
  position: absolute;
  
  z-index: 2;
  
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  
  transform: translate(-50%, -50%) scale(0.5);
  
  opacity: 0;
  
  -webkit-box-shadow: 0 0 10px #000000;
  
  box-shadow: 0 0 10px #000000;
  
}



.container a {
  
  position: absolute;
  
  top: 0;
  
  bottom: 0;
  
  left: 0;
  
  right: 0;
  
  z-index: 3;
  
}


.container:hover > img,

.container.hover > img {
  
  opacity: 1;
  
}



.container:hover:before,

.container.hover:before {
  
  -webkit-transform: skew(45deg) translateX(-55%);
  
  transform: skew(45deg) translateX(-55%);
  transition: .5s all;
  
  
  /* if you want the closing lines to rotate as they close in, use code below */
  /* -webkit-transform: skew(405deg) translateX(-55%);
  
  transform: skew(405deg) translateX(-55%); */
  
}



.container:hover:after,

.container.hover:after {
  
  -webkit-transform: skew(45deg) translateX(55%);
  
  transform: skew(45deg) translateX(55%);
  transition: .5s all;
  
  /* if you want the closing lines to rotate as they close in, use code below */
  
  /* -webkit-transform: skew(405deg) translateX(-55%);
  
  transform: skew(405deg) translateX(-55%); */
  
  
  
}



.container:hover figcaption,

.container.hover figcaption {
  
  -webkit-transform: translate(-50%, -50%) scale(1);
  
  transform: translate(-50%, -50%) scale(1);
  
  opacity: 1;
  
}

h3:hover{
  transform: scale(1.02);
  transform: translateY(-5px);
  transition: .5s ease;
}


.shift{
margin-left: 15rem;
}

.responsive-contents{
  visibility: none;
}

@media (max-width: 1200px) {

  .responsive-contents{
    opacity: 0;
  }
    .responsive-nav{
      display: none;
    }
    .container-rest{
      width: 100%;
      height: auto;
    }
    .burger{
      display: contents !important;
    }
    .center-when-small{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
    }
    .grid{
      width: 100%;
      padding: 20px;
    }
    
  
  }
@media (max-width: 799px) {
  .shift{
    margin-left: 11rem;
  }
      .grid{
          grid-template-columns: repeat(1, 95%);
          overflow-y: auto;
          width: 100%;
          justify-content: center;
          align-items: center;    
      }
      .container h4{
        font-size: 1em;
      }
      .container h3{
        font-size: .85em;
      }

  

}
@media (width = 768px){
  .grid{
    grid-template-columns: repeat(2, 45%);
    width: 100%;
    /* padding: 20px; */
    align-items: center;
  }
}