@font-face {
    font-family: 'Kallisto';
    src: url("../Kallisto\ Thin.otf");
    
  }
  @font-face {
    font-family: "Medium";
    src: url("../Kallisto\ Medium.otf");
  }
.container-nav {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: auto;
    /* background: linear-gradient(#17181b, #464a4e) !important; */
    
  
  }
    h1{
        font-family: "Medium";
    }
    ul{
        font-family: "Kallisto";
    }
  .container-rest {
    width: 85%;

}
img{
    border: 5px solid #b3b3b3;
    border-radius: 15px;
}
.grid{
    width: 90%;
    height: 100%;
    gap: 1em;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.item{
    background-color: green;
}
ul:hover{
    transform: scale(1.02) translateY(-3px);
    text-decoration: underline;
    transition: .2s ease-in;
    cursor: pointer;
}
@media (max-width: 1400px) {

    .container-nav{
      display: none;
    }
    .container-rest{
      width: 100%;
      height: auto;
    }
    .center-when-small{
        display: flex;
        justify-content: center;
    }
    
  
  }
  @media (max-width: 850px) {

        .grid{
            grid-template-columns: repeat(1, 100%);
            overflow-y: auto;
            
        }
    
 
  }


body{
    min-height: 100vh;
    color: white !important;
  /* background-color: black !important; */
  /* #17181b,#464a4e */
  background: linear-gradient( #464a4e, #23252d,

  #262932 , #17181b) !important;
  overflow-x: hidden;
}
ul:hover{

    transform: scale(1.05) translateY(-3px);
    transition: .3s ease-in;
    cursor: pointer;
}